# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=healthcare_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# JWT
JWT_SECRET=myKareHealthcareSecretKeyForJWTTokenGenerationAndValidation2024
